logs/scraper.log
results/fpga_documents.json
results/fpga_documents.json.backup_20250708_223053
results/fpga_documents.json.backup_20250708_223556
results/fpga_documents.json
results/fpga_documents.json.backup_20250708_224645
results/fpga_documents.json.backup_20250708_231705
results/fpga_documents.json.backup_20250708_232641
results/fpga_documents.json.backup_20250708_232731
results/fpga_documents.json.backup_20250708_233808
results/fpga_documents.json.backup_20250708_234534
results/fpga_documents.json.backup_20250708_235434
results/fpga_documents.json.backup_20250709_000612
results/fpga_documents.json.backup_20250709_000823
results/fpga_documents.json.backup_20250709_001055
src/__pycache__/main.cpython-310.pyc
src/models/__pycache__/document.cpython-310.pyc
src/scrapers/__pycache__/altera_scraper.cpython-310.pyc
src/scrapers/__pycache__/xilinx_scraper.cpython-310.pyc
src/utils/__pycache__/file_handler.cpython-310.pyc
src/__pycache__/main.cpython-310.pyc
